<!DOCTYPE html>
<html lang="en">

	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript">
            {{#decision}}
            var source = new EventSource("/subscribe?channel={{id}}");
            {{/decision}}
            source.addEventListener("newVisitor", function(event) {
                document.getElementById("seenBy").innerHTML += "<li class='list-group-item'>" + event.data + '</li>'
            });
            source.addEventListener("decisionMade", function(event) {
                document.getElementById("seenBy").innerHTML += "<li class='list-group-item'>Decision made: " + event.data + '</li>'
            });
            {{#decidedAlternative}}
            $(function() {
                $('li:contains("{{.}}")').addClass("list-group-item-success");
                $('li:contains("{{.}}")').prepend("<span class='glyphicon glyphicon-ok'></span> ");
                $('.btn-default').prop('disabled', true);
            });
            {{/decidedAlternative}}
		</script>
	</head>
    <body>
        <div class="container">
            {{#decision}}
            <h1>{{name}}</h1>

            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Alternatives</div>

                        <!-- List group -->
                        <ul class="list-group">
                            {{#alternatives}}
                            <li class="list-group-item">{{.}}</li>
                            {{/alternatives}}
                        </ul>
                    </div>
                <form action="{{id}}/decide" method="POST">
                    <button type="submit" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-check"></span> Decide
                    </button>
                </form>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Seen by</div>

                    <!-- List group -->
                    <ul id="seenBy" class="list-group">
                        {{#seenBy}}
                        <li class="list-group-item">{{.}}</li>
                        {{/seenBy}}
                    </ul>
                </div>
                  {{/decision}}
                  <script>
                </script>
                <p><a href="/oauth/request?decisionId=${decision.id?html}">
                        <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png">
                </a></p>
                </div>

            </div>

        </div>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>