<!DOCTYPE html>
<html lang="en">

	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript">
            function highlightDecision(decidedAlternative) {
                decidedAlternative.addClass("list-group-item-success");
                decidedAlternative.prepend("<span class='glyphicon glyphicon-ok'></span> ");
                $('button').prop('disabled', true);
            }
            {{#decision}}
            $(function() {
                $('#pick').click(function() {

                    $.ajax({
                        url: '{{id}}/decide',
                        type: 'POST'
                    });

                });
            });
            var source = new EventSource("/subscribe?channel={{id}}");
            {{/decision}}
            source.addEventListener("newVisitor", function(event) {
                var userId = event.data.split(" ")[0];
                var avatarUrl = event.data.split(" ")[1];
                document.getElementById("seenBy").innerHTML += "<li class='list-group-item'><img width='48' height='48' src='" + avatarUrl + "'> " + userId + "</li>"
            });
            source.addEventListener("decisionMade", function(event) {
                var decidedAlternative = $('li').filter(function() {
                    return $(this).text() === event.data;
                });
                highlightDecision(decidedAlternative);
            });
            {{#decidedAlternative}}
            $(function() {
                var decidedAlternative = $('li').filter(function() {
                    return $(this).text() === '{{.}}';
                });
                highlightDecision(decidedAlternative);
            });
            {{/decidedAlternative}}
		</script>
	</head>
    <body>
        <div class="container">
            {{#decision}}
            <h1>{{name}}</h1>

            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Alternatives</div>

                        <!-- List group -->
                        <ul class="list-group">
                            {{#alternatives}}
                            <li class="list-group-item">{{.}}</li>
                            {{/alternatives}}
                        </ul>
                    </div>
                    <button type="submit" id="pick" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-random"></span> Pick random
                    </button>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Acknowledged by</div>

                    <!-- List group -->
                    <ul id="seenBy" class="list-group">
                        {{#seenBy}}
                        <li class="list-group-item"><img width="48" height="48" src="{{profileImageURL}}"> {{id}}</li>
                        {{/seenBy}}
                    </ul>
                </div>

                <p>
                    <form action="/oauth/request" method="GET">
                    <input name="decisionId" value="{{id}}" hidden="true">
                    <button class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Acknowledge
                    </button>
                    </form>
                </p>
                {{/decision}}
                </div>

            </div>

        </div>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>